body {
    background-color: #fff;
    padding:50px;
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#595959;
    font-weight:400;
  }

@font-face {
    font-family: 'LxgwWenKai';
    src: url('assets/fonts/LxgwWenKai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+4E00-9FFF; /* 仅应用于中文字符的Unicode范围 */
}

.zh-font {
    font-family: 'LxgwWenKai', sans-serif;
}